<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.Js 2 For Beginners</title>
</head>
<body>

  <div id="app">

    <!-- <label for="">Add vehicle</label> -->
    <input type="text" v-model="content">
    <button @click.prevent="addName" v-show="!editStatus">Add</button>
    <button @click.prevent="updateName" v-show="editStatus">Update</button>

    <br>
    <ul>
      <li v-for="(name, index) in names">
        {{ name }}
        <button @click="editName(index)">Edit</button>
        ||
        <button @click="removeName(index)">Delete</button>
      </li>
    </ul>
  </div>

  <!-- development version, includes helpful console warnings -->
  <script src="assets/vendor/vue.js"></script>
  <script src="assets/js/app.js"></script>
</body>
</html>