<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.Js 2 For Beginners</title>
</head>
<body>

  <div id="app">
    <ul>
      <li v-for="vehicle in vehicles">
        Type: {{ vehicle.type }},
        Brand: {{ vehicle.brand }},
        Color: {{ vehicle.color }}
      </li>
    </ul>
    <br>
    <ul>
      <li v-for="value in object">
        {{ value }}
      </li>
    </ul>
  </div>

  <!-- development version, includes helpful console warnings -->
  <script src="assets/vendor/vue.js"></script>
  <script src="assets/js/app.js"></script>
</body>
</html>